body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  background-color: #dab785 !important;
}

.container {
  text-align: center;
}

input {
  padding: 8px;
  border-radius: 0.5em;
  border: none;
  outline: none;
  color: #031d44;
}

input:focus {
  outline: #031d44;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5em;
}

li {
  max-width: fit-content;
  background-color: #70a288;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover {
  max-width: fit-content;
  background-color: rgba(112, 163, 137, 0.8);
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  border-radius: 0.5em 0 0 0.5em;
  border: none;
  background-color: #04395e;
  border: solid #04395e 1px;
  font-size: 1.5em;
  color: #d5896f;
}
.check:hover {
  border-radius: 0.5em 0 0 0.5em;
  border: none;
  background-color: rgba(5, 57, 94, 0.8);
  border: solid #04395e 1px;
  font-size: 1.5em;
  color: #d5896f;
}

.delete {
  border-radius: 0 0.3em 0.3em 0;
  border: solid 1px #031d44;
  background-color: #031d44;
  color: #d5896f;
  font-size: 1.5em;
}
.delete:hover {
  border-radius: 0 0.3em 0.3em 0;
  border: solid 1px #031d44;
  background-color: rgba(3, 29, 69, 0.8);
  color: #d5896f;
  font-size: 1.5em;
}

span {
  padding: 0 2em;
  font-size: 1.5em;
  color: #031d44;
}

#addTaskBtn {
  background-color: #031d44;
  color: #d5896f;
}
#addTaskBtn:hover {
  background-color: #04395e;
  color: #d5896f;
}
